<html lang="en-us">
<head>

    <style>
        .city {
            font-family: 'Open Sans', sans-serif;
            margin: 10px;
            padding: 10px;
            height: 100%;
        }

    </style>
</head>

<body>
<div class="city">
    <div class="container">
        <table class="table  table-bordered" width="100%" bgcolor="#271B15">
            <tbody>
            <tr>
                <td>
                    <center>
                        <table width="800" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr bgcolor="#3B291F">
                                <td>
                                    <table width="800" cellpadding="10">
                                        <tbody>
                                        <tr align="left">
                                            <td style="color: #ffffff" ; valign="middle">

                                                <strong><span id="demo">{{templateData.userData.date}}</span></strong>

                                            </td>
                                            <td align="right">
                                                <a target="_blank" href="https://twitter.com/INNOVAPATH1">
                                                    <img height="24" border="0" alt="IP_Social_twitter.png"
                                                         src="http://whiteboxqa.com//assets/images/logos/icons/MongoInc_Social_twitter.png">
                                                </a>
                                                <a target="_blank"
                                                   href="https://www.facebook.com/innovapathitconsulting">
                                                    <img height="24" border="0" alt="IP_Social_facebook.png"
                                                         src="http://whiteboxqa.com//assets/images/logos/icons/MongoInc_Social_facebook.png">
                                                </a>
                                                <a target="_blank"
                                                   href="https://plus.google.com/116453520472190101609/about">
                                                    <img height="24" border="0" alt="IP_Social_gplus.png"
                                                         src="http://whiteboxqa.com//assets/images/logos/icons/MongoInc_Social_gplus.png">
                                                </a>
                                                <a target="_blank"
                                                   href="https://www.linkedin.com/company/innovapath-inc-?trk=company_name">
                                                    <img height="24" border="0" alt="IP_Social_linkedin.png"
                                                         src="http://whiteboxqa.com//assets/images/logos/icons/MongoInc_Social_linkedin.png">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr bgcolor="#4E3629">


                                <td align="center">
                                    <a target="_blank"
                                       href="http://www.innova-path.com/">
                                        <img src="http://whiteboxqa.com/assets/images/logos/innovapath.png"
                                             alt="IP Newsletter"></a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                            <tr bgcolor="#ffffff" style="font-size: 11px">
                                <td>
                                    <table width="800" cellpadding="10">
                                        <tbody>
                                        <tr>
                                            <td><p><strong>INNOVAPATH,&nbsp;INC.</strong>&nbsp;is a recruiting and
                                                personnel solutions firm committed to bring together
                                                top-end professionals and quality opportunities.&nbsp;</p><span>As a company, we are best known as expertise in QA/QE/UI/UX/Java/.NET with different technologies.</span>
                                            </td>
                                        </tr>

                                        <tr align="left">
                                            <td>
                                                    <span>
                                                        <p>
                                                        <table border='1' class='hovertable'>
                                                            <tbody>
                                                            <tr>
                                                                <th width='100' height='25'> Consultant</th>
                                                                <th width='120' height='25'> Location</th>
                                                                <th width='50' height='25'> Relocation</th>
                                                                <th width='400' height='25'> Description</th>
                                                            </tr>
                                                            {{#each people}}
                                                               {{#each this}}
                                                                  <tr>
                                                                        {{#each this}}
                                                                            <td>{{this}}</td>
                                                                        {{/each}}
                                                                    </tr>
                                                                {{/each}}
                                                            {{/each}}
                                                            </tbody>
                                                        </table>
                                                        </p>
                                                    </span>
                                            </td>
                                        </tr>
                                        <span></span>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </td>
                            </tr>
                            <tr align="center" bgcolor="#4e3629">
                                <td>
                                    <table width="800"
                                           cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr style="height: 25px;">
                                            <td align="left">

                                                <div class="col-md-12 col-sm-12 col-xs-12 "><span
                                                        style="font-size:11px;color:#fff;font-family: 'Open Sans';line-height:35px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                                        target="_blank"
                                                        href="https://www.google.com/maps/place/Innovapath+Inc/@37.7034345,-121.9105823,17z/data=!3m1!4b1!4m2!3m1!1s0x808fec05cb8a6a33:0x9b86e87e1759a460"
                                                        style="text-decoration: none;font-size:11px;color:#fff;font-family: 'Open Sans';line-height:35px">6500
                                                    Dublin Blvd Ste 214 Dublin CA 94568. <a href="Tel:408-708-9394"
                                                                                            style="text-decoration: none;color: white">
                                                        Ph: 925-399-7373, 925-621-8610 </a> </a> </span></div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 "><span
                                                        style="font-size:11px;color:#fff;font-family: 'Open Sans';line-height:35px;padding: 11px"><a
                                                        target="_blank"
                                                        href="https://www.google.co.in/maps/place/149,+Dr+Ambedkar+Marg,+Kakatiya+Nagar,+Ananth+Nagar,+Dr+AS+Rao+Nagar,+Secunderabad,+Telangana+500056/@17.4742845,78.5404534,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb9ba1cffd0113:0x381d2cd276d9e400!8m2!3d17.4742845!4d78.5426421"
                                                        style="text-decoration: none;font-size:11px;color:#fff;font-family: 'Open Sans';line-height:20px">29-1430/2/1,
                                                    East Kakatiyanagar,
                                                    Neredmet, Telangana, India <a href="Tel:+91 69434343"
                                                                                  style="text-decoration: none;color: white">Ph:
                                                        69434343</a> </a> </span></div>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr align="center" bgcolor="#3b291f">
                                <td>
                                    <table style="padding: 0; margin: 0; font-size: 14px; line-height: 18px;"
                                           width="800"
                                           cellpadding="2">
                                        <tbody>
                                        <tr align="left">
                                            <td align="left">
                                            <span style="font-size:11px; padding:8px; color:#fff;font-family:sans-serif;line-height:35px">
                                                <a target="_blank"
                                                   href="http://innova-path.com"
                                                   style="text-decoration: none;font-size:11px;color:#fff;font-family: 'Open Sans', sans-serif;line-height:35px">
                                                    INNOVAPATH, INC.
                                                </a>
                                            </span>
                                            </td>
                                            <td align="right">
                                                <a target="_blank" href="https://twitter.com/INNOVAPATH1">
                                                    <img height="24" border="0" alt="IP_Social_twitter.png"
                                                         src="http://whiteboxqa.com/assets/images/logos/icons/MongoInc_Social_twitter.png">
                                                </a>
                                                <a target="_blank"
                                                   href="https://www.facebook.com/innovapathitconsulting/">
                                                    <img height="24" border="0" alt="IP_Social_facebook.png"
                                                         src="http://whiteboxqa.com/assets/images/logos/icons/MongoInc_Social_facebook.png">
                                                </a>
                                                <a target="_blank"
                                                   href="https://plus.google.com/116453520472190101609/about">
                                                    <img height="24" border="0" alt="IP_Social_gplus.png"
                                                         src="http://whiteboxqa.com/assets/images/logos/icons/MongoInc_Social_gplus.png">
                                                </a>
                                                <a target="_blank"
                                                   href="https://www.linkedin.com/company/innovapath-inc-?trk=company_name">
                                                    <img height="24" border="0" alt="IP_Social_linkedin.png"
                                                         src="http://whiteboxqa.com/assets/images/logos/icons/MongoInc_Social_linkedin.png">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>






